force-apps/otherDemos/main/default/flows/Demo_CustomProperties.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call Apex to get the Contact records for the Family__c records found
            (relationship queries)</description>
        <name>Apex020</name>
        <label>Apex020 (Old) Get families with contacts</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>EX03_QueryFamilies</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen030</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>families</name>
            <value>
                <elementReference>Get010</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxFamilies</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Call Apex to get the Contact records for the Family__c records found
(relationship queries + custom properties)</description>
        <name>Apex020New</name>
        <label>Apex020 (New) Get families with contacts</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Demo_CustomProperties</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen030New</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>families</name>
            <value>
                <elementReference>Get010</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxFamilies</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>PATH</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NEW</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IF015</name>
        <label>IF015 Which version?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Apex020</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old</defaultConnectorLabel>
        <rules>
            <name>If015New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PATH</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex020New</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>View010 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo: Custom Properties</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>SELECT * FROM Family</description>
        <name>Get010</name>
        <label>Get010</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF015</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Display the data in a treeGrid using LWC</description>
        <name>Screen030</name>
        <label>Screen030 (Old)</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TreeGrid</name>
            <extensionName>c:ex04TreeGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>familyData</name>
                <value>
                    <elementReference>Apex020.response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display the data in a treeGrid using LWC (Custom properties)</description>
        <name>Screen030New</name>
        <label>Screen030 (New)</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TreeGridNew</name>
            <extensionName>c:demoTreeGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>familyData</name>
                <value>
                    <elementReference>Apex020New.response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get010</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
