force-apps/otherDemos/main/default/flows/Demo_DataStructures.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Makes a call to an Apex @invocableMethod to demonstrate the use of complex data</description>
        <name>Apex020</name>
        <label>Apex020</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>Demo_DataStructures</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputContacts</name>
            <value>
                <elementReference>contacts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>someVariable</name>
            <value>
                <numberValue>42.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>results</assignToReference>
            <name>outputData</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Append $Record (single contact) to a list of Contact records</description>
        <name>Set010</name>
        <label>Set010</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apex020</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Demo_DataStructures {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo: DataStructures</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set010</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>results</name>
        <apexClass>Demo_DataStructuresAuraEnabled</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>