force-apps/HOW/main/default/flows/EX02_LinkFamily_Apex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>We need to call Apex to fixed the error (trying to create duplicates)</description>
        <name>Apex010</name>
        <label>Apex010 Call apex to link contacts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>EX02_LinkFamily</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update020</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>contactWithFamily</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>EX02 - Link family (Apex) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EX02 - Link family (Apex)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Perform a single DML operation to update the Contacts&apos; last name</description>
        <name>Update020</name>
        <label>Update020</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>contactWithFamily</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apex010</targetReference>
        </connector>
        <filterFormula>{!$Record.LastName} != null &amp;&amp; ({!$Record.Family__c} == null ||
            {!$Record.LastName} != {!$Record.Family__r.LastName__c})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>contactWithFamily</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
