force-apps/HOW/main/default/flows/EX03_DataStructures.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call Apex to get the Contact records for the Family__c records found
            (relationship queries)</description>
        <name>Apex020</name>
        <label>Apex020 Get families with contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>EX03_QueryFamilies</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen030</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>families</name>
            <value>
                <elementReference>Get010</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxFamilies</name>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>response</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>EX04 - TreeGrid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EX03 - DataStructures</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>SELECT * FROM Family</description>
        <name>Get010</name>
        <label>Get010</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apex020</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Displays &quot;The Answer&quot;</description>
        <name>Screen030</name>
        <label>Screen030 Display Apex Output</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TheAnswer</name>
            <fieldText>&lt;p&gt;The Answer: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!response.theAnswer}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get010</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>response</name>
        <apexClass>EX03AE_Response</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
