force-apps/HOW/main/default/flows/EX04_TreeGrid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex020</name>
        <label>Apex020 Get families with contacts</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>EX04_QueryFamilies</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen010</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>countFamilies</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>families</name>
            <value>
                <elementReference>Get010</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>countContacts</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>View010 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EX04 - TreeGrid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get010</name>
        <label>Get010</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Apex020</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen010</name>
        <label>Screen010</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TreeGrid</name>
            <extensionName>c:ex04TreeGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>familyTypes</name>
                <value>
                    <elementReference>Apex020.response</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get010</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
