force-apps/HOW/main/default/flows/LinkFamily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>IF010</name>
        <label>IF010 Family exist?</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Insert010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>IF010_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get010</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update010</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Link family {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link family</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert010</name>
        <label>Insert010 Crear family record</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>Get010.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update010</targetReference>
        </connector>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Family__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get010</name>
        <label>Get010 Find family</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF010</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update010</name>
        <label>Update010 Update contact with family Id</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Family__c</field>
            <value>
                <elementReference>Get010.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get010</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;Family&quot; &amp;&amp; {!$Record.LastName} != null &amp;&amp; ({!$Record.Family__c} == null || {!$Record.LastName} != {!$Record.Family__r.LastName__c})</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>contactWithFamily</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UseApex</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
